<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form page</title>
</head>
<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: '{% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% else %}black{% endif %}'">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}


    <form method ='POST'>
        {% csrf_token %}
        <input type="text" name="user_id" id="userid" placeholder="Enter your user ID">
        <br>
        <input type="text" name="name" placeholder="Enter your name">
        <button type="submit">Greet</button>

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        <p> error</p>

        {% endif %}
    </form>
</body>
</html>